<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chimade.mes.sys.mapper.AuthorizeModelActionMapper">
	<insert id="save"   parameterType="AuthorizeModelAction">
	INSERT INTO base_authorize_model_action(user_id,type,action_id,factory_id,role_id ) VALUES (#{userId},#{type},#{actionId},#{factoryId},#{roleId})
	</insert>

	<delete id="delete" parameterType="int">
	DELETE FROM base_authorize_model_action WHERE id=#{id}
	</delete>

	<update id="update" parameterType="AuthorizeModelAction">
	UPDATE base_authorize_model_action SET user_id=#{userId},type=#{type},action_id=#{actionId},factory_id=#{factoryId},role_id=#{roleId} WHERE id=#{id}
	</update>

	<sql id="selectColumns" >
		user_id  userId,type,action_id  actionId,factory_id  factoryId,id,role_id  roleId	</sql>
	<sql id="where">
		<where>
			<if test="userId!=null and userId!='' "> 
			and user_id LIKE CONCAT('%', CONCAT(#{userId}, '%'))
	 		</if>  
			<if test="type!=null and type!='' "> 
			and type LIKE CONCAT('%', CONCAT(#{type}, '%'))
	 		</if>  
			<if test="actionId!=null and actionId!='' "> 
			and action_id LIKE CONCAT('%', CONCAT(#{actionId}, '%'))
	 		</if>  
			<if test="factoryId!=null and factoryId!='' "> 
			and factory_id LIKE CONCAT('%', CONCAT(#{factoryId}, '%'))
	 		</if>  
			<if test="id!=null and id!='' "> 
			and id LIKE CONCAT('%', CONCAT(#{id}, '%'))
	 		</if>  
			<if test="roleId!=null and roleId!='' "> 
			and role_id LIKE CONCAT('%', CONCAT(#{roleId}, '%'))
	 		</if>  
	</where></sql>
	<select id="findById" parameterType="int" resultType="AuthorizeModelAction">
		SELECT   <include refid="selectColumns"/>  FROM base_authorize_model_action  WHERE id=#{id} 
	</select>

	<select id="findAll"  resultType="AuthorizeModelAction">
		SELECT   <include refid="selectColumns"/> FROM base_authorize_model_action  
	</select>

	<select id="findBySearch" parameterType="AuthorizeModelAction" resultType="AuthorizeModelAction">
		SELECT  <include refid="selectColumns"/> FROM base_authorize_model_action    	<include refid="where" />
 
 	<if test="start>-1 and limit>-1">
 	 	 limit #{limit}   offset #{start}
  	 </if> 
	</select>

 	<select id="fetchTotalNumberForSearch"  parameterType="AuthorizeModelAction"  resultType="Integer">
 	SELECT      count(id)      FROM base_authorize_model_action    	<include refid="where" />
 
	</select>

<!-- 	<resultMap id="combineAuthorizeModelAction"    type="com.chimade.mes.sys.model.AuthorizeModelAction"> -->
<!-- 	        <result property="userId" column="user_id" />   -->
<!-- 			<association    property="user"   column="user_id"	 	javaType="User"   select="com.chimade.mes.sys.mapper.UserMapper.findById"  />  -->
<!-- 	        <result property="actionId" column="action_id" />   -->
<!-- 			<association    property="action"   column="action_id"	 	javaType="Action"   select="com.chimade.mes.sys.mapper.ActionMapper.findById"  />  -->
<!-- 	        <result property="factoryId" column="factory_id" />   -->
<!-- 			<association    property="factory"   column="factory_id"	 	javaType="Factory"   select="com.chimade.mes.sys.mapper.FactoryMapper.findById"  />  -->
<!-- 	        <result property="roleId" column="role_id" />   -->
<!-- 			<association    property="role"   column="role_id"	 	javaType="Role"   select="com.chimade.mes.sys.mapper.RoleMapper.findById"  />  -->
<!--  	</resultMap> -->

</mapper>
