<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
 -->
<mapper namespace="com.chimade.mes.sys.mapper.UserMapper">
	<insert id="save"   parameterType="User">
		insert into base_user(user_name, password,login_account) values(#{userName},#{password},#{loginAccount})
	</insert>
	
	<update id="update" parameterType="User">
		update base_user  set user_name=#{userName},password=#{password} ,login_account=#{loginAccount} where id=#{id}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from base_user  where id=#{id}
	</delete>
	
	 <!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  
	<select id="findById" parameterType="int" resultType="User">
		select id,user_name userName,password,login_account  loginAccount from base_user where id=#{id}
	</select>
	
	<select id="findAll" resultType="User">
		select  id,user_name userName ,login_account loginAccount ,password from base_user
	</select>
	
	 
	  <select id="findBySearch"  parameterType="User" resultType="User">  
        select   id,user_name userName ,login_account loginAccount ,password  from base_user   
        <where>  
              <if test="userName!=null and userName!='' ">  
                and user_name LIKE CONCAT('%', CONCAT(#{userName}, '%')) 
            </if>  
           <if test="loginAccount!=null and  loginAccount!='' ">  
                    and login_account LIKE CONCAT('%', CONCAT(#{loginAccount}, '%')) 
            </if>  
        </where>  
         <if test="start>-1 and limit>-1">
            limit #{limit}   offset #{start}
        </if>
    </select>  
    <select id="fetchTotalNumberForSearch"  parameterType="User"  resultType="Integer">  
        select  count(id)  from base_user   
        <where>  
              <if test="userName!=null and userName!='' ">  
                and user_name LIKE CONCAT('%', CONCAT(#{userName}, '%')) 
            </if>  
           <if test="loginAccount!=null and  loginAccount!='' ">  
                    and login_account LIKE CONCAT('%', CONCAT(#{loginAccount}, '%')) 
            </if>  
        </where>  
 
    </select>  
<!--       <select id="getListByPagenate" parameterType="PagenateArgs" -->
<!--         resultType="Visitor"> -->
<!--         select * from ( -->
<!--         <include refid="getListSql" /> <include refid="orderBySql"/> -->
<!--         ) t #{}表示参数化输出，${}表示直接输出不进行任何转义操作，自己进行转移 -->
<!--         <if test="pageStart>-1 and pageSize>-1"> -->
<!--             limit #{pageStart}, #{pageSize} -->
<!--         </if> -->
<!--     </select> -->
<!--     <sql id="orderBySql"> -->
<!--         order by ${orderFieldStr} ${orderDirectionStr} -->
<!--     </sql> -->
<!--     <select id="dynamicWherePage" parameterType="java.util.Map" resultType="SUser">   -->
<!--         select * from Suser    -->
<!--         <where>   -->
<!--             <if test="pwd != null">   -->
<!--                 and pwd LIKE CONCAT('%', CONCAT(#{pwd}, '%')) -->
<!--             </if>   -->
<!--         </where>   -->
<!--         limit #{stanum},#{offset}  -->
<!--     </select>   -->
</mapper>